<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puuaru.acl.mapper.RolePermissionMapper">

    <select id="getPermissionsByRoleId" resultType="com.puuaru.acl.entity.Permission">
        select p.*
        from acl_role_permission rp
                 left join acl_permission p on rp.permission_id = p.id
        where rp.role_id = 1388889175722668034
            and p.is_deleted = 0
    </select>
</mapper>
